@model ElasticsearchSample.Models.InputModel
@{
    ViewData["Title"] = "検索結果";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div>
        <p>@ViewData["searchResult"]</p>
    </div>
</div>
