@model IEnumerable<ElasticsearchSample.Models.DocWithHglModel>
@{
    ViewData["Title"] = "検索結果";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div>
        @if (Model != null)
        {
            @foreach (var doc in Model)
            {
                <hr />
                <span>@Html.DisplayFor(modelItem => doc.DocumentId)</span>
                <span>@Html.DisplayFor(modelItem => doc.DocumentName)</span>
                <br />
                <p>@Html.DisplayFor(modelItem => doc.TextWithHgl)</p>
            }
        }
    </div>
</div>
